<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>About Time.  I wrote this during training exercises!</p>
        {{> footer}}
    </body>
</html>