<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{> header}}</title>
    </head>
    <body>
        {{> header}}
        <h3>Windows Node.JS Development</h3>
        <table>
            <tr>
                <th>Downloads</th>
                <th></th> 
                <th>NPM Packages</th>
                <th></th> 
                <th>Areas of Study</th>
            </tr>
            <tr>
                <td>Node (includes NPM)</td>
                <td></td> 
                <td>yargs</td>
                <td></td> 
                <td>html</td>
            </tr>
            <tr>
                <td>Visual Studio Code</td>
                <td></td> 
                <td>express</td>
                <td></td> 
                <td>css</td> 
            </tr>
            <tr>
                <td>MySQL</td>
                <td></td> 
                <td>fs</td>
                <td></td> 
                <td>JavaScript</td> 
            </tr>
            <tr>
                <td>MongoDB</td>
                <td></td> 
                <td>expect</td>
                <td></td> 
                <td>jQuery</td> 
            </tr>
            <tr>
                <td>Chrome</td>
                <td></td> 
                <td>mocha</td>
                <td></td> 
                <td>databases (sql server, MySQL, MongoDB</td> 
            </tr>
            <tr>
                <td>Visual Studio 2015</td>
                <td></td> 
                <td>nodemon</td>
                <td></td> 
                <td>json</td> 
            </tr>
            <tr>
                <td>GIT</td>
                <td></td> 
                <td>request</td>
                <td></td> 
                <td>git</td> 
            </tr>
            <tr>
                <td>Heroku</td>
                <td></td> 
                <td>axios</td>
                <td></td> 
                <td>github</td> 
            </tr>
            <tr>
                <td></td>
                <td></td> 
                <td>hbs</td>
                <td></td> 
                <td>Heroku</td> 
            </tr>
        </table> 

        {{> footer}}
    </body>
</html>